.messagebox_wrapper {
    width: max-content;
    max-width: 70%;
    min-width: 280px;
    padding: 10px;
    background-color: #c05d07;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.scroller {
    min-height: 300px;
    padding: 10px;
    background-color: inherit;
}

.messagebox_wrapper .role {
    font-size: 14px;
    font-weight: 600;
    color: rgb(24, 39, 2);
}

.messagebox_wrapper.model-wrapper .role {
    align-self: flex-end;
}

.messagebox_wrapper.model-wrapper {
    align-self: flex-end;
}


.messagebox_wrapper.model-wrapper .messagebox_text {
    align-self: flex-end;
    position: relative;
    max-width: 100%;
}


.messagebox_wrapper .messagebox_text :is(ol, ul) {
    list-style-position: inside;
}

.messagebox_wrapper .messagebox_text pre::-webkit-scrollbar {
    display: block;
    width: 5px;
    border-radius: 10px;
    border-radius: 10px;
}

.messagebox_wrapper .messagebox_text pre::-webkit-scrollbar {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 10px;
}

.messagebox_wrapper .messagebox_text pre::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.messagebox_wrapper .messagebox_text pre::-webkit-scrollbar-button {
    background-color: rgb(26, 25, 25);
}

.messagebox_wrapper .messagebox_text strong {
    color: rgb(26, 25, 25);
}

.messagebox_wrapper .messagebox_text pre {
    background-color: rgb(26, 25, 25);
    border-radius: 10px;
    padding: 5px;
    max-height: 600px;
    overflow: auto;
    max-width: 100%;
    margin: 10px 0;
}

.messagebox_wrapper .messagebox_text pre code {
    font-style: italic;
    max-width: 100%;
}

.messagebox_wrapper .messagebox_text pre code.language-python {
    font-style: italic;
    background-color: rgb(24, 39, 2);
    color: rgb(200, 201, 192);
}

.messagebox_wrapper .messagebox_text pre code.language-javascript {
    font-style: italic;
    color: rgb(224, 203, 6);
}